@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: 微軟正黑體;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

header,
section {
  height: 100vh;
  background: #000;
}

header {
  position: relative;
  height: 100vh;
  margin: 0 auto;
}

header .logo {
  height: 150px;
  width: 150px;
  display: block;
  float: left;
}

header .logo img {
  height: 150px;
  z-index: 1;
}

header .logo img:hover {
  -webkit-filter: invert(25%) sepia(80%) saturate(7446%) hue-rotate(8deg) brightness(98%) contrast(117%);
          filter: invert(25%) sepia(80%) saturate(7446%) hue-rotate(8deg) brightness(98%) contrast(117%);
}

header .ghost {
  position: absolute;
  display: block;
  width: 100%;
  margin: 0 auto;
  top: 120px;
  margin: 0 auto;
}

header .ghost img {
  display: block;
  width: 800px;
  height: 600px;
  margin: 0 auto;
}

header video {
  width: 100%;
  margin: 0 auto;
}

.prologue h2 {
  padding: 30px;
  font-size: 36px;
  color: white;
}

.prologue p {
  text-align: center;
  font-size: 20px;
  padding: 26px 0 10px;
  color: white;
}

.prologue .book {
  z-index: 4;
}

.prologue img {
  width: 100%;
  height: 100%;
}

.prologue .box2 {
  position: relative;
  width: 100%;
  height: 300px;
  bottom: 150px;
  display: block;
  z-index: 2;
}

.prologue .box2 video {
  position: absolute;
  left: 100px;
  bottom: 20px;
}

.prologue .ghost_fly {
  position: relative;
  width: 100%;
  z-index: 3;
}

.prologue .ghost_fly img {
  position: absolute;
  width: 200px;
  height: 200px;
  right: -20%;
  bottom: 10%;
  opacity: 0.7;
}

.prologue .ghost_fly img:hover {
  -webkit-transition: 0.7ms;
  transition: 0.7ms;
  -webkit-filter: invert(24%) sepia(100%) saturate(7446%) hue-rotate(8deg) brightness(98%) contrast(117%);
          filter: invert(24%) sepia(100%) saturate(7446%) hue-rotate(8deg) brightness(98%) contrast(117%);
}

.introduction {
  position: relative;
}

.introduction h2 {
  padding: 100px 30px 30px;
  font-size: 36px;
  color: white;
}

.introduction .card {
  position: absolute;
  top: 60%;
  left: 25%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 300px;
  height: 400px;
  background: #6e0000;
  overflow: hidden;
}

.introduction .card:hover .imgBx {
  top: 0;
  left: -100%;
}

.introduction .card:hover .details {
  top: 0;
  left: 0%;
}

.introduction .card .imgBx,
.introduction .card .details {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.introduction .card .imgBx {
  top: 0;
  left: 0;
}

.introduction .card .imgBx img {
  width: 100%;
}

.introduction .card .details {
  background: #ff0000;
  top: 0;
  left: 100%;
  padding: 60px 30px;
}

.introduction .card .details h2 {
  color: black;
  text-align: center;
  margin: 0;
  padding: 0 0 10px;
  border-bottom: 2px solid black;
}

.introduction .card .details p {
  margin: 20px 0 0;
  color: black;
}

.introduction .card2 {
  position: absolute;
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 300px;
  height: 400px;
  background: #6e0000;
  overflow: hidden;
}

.introduction .card2:hover .imgBx {
  top: 0;
  left: -100%;
}

.introduction .card2:hover .details {
  top: 0;
  left: 0%;
}

.introduction .card2 .imgBx,
.introduction .card2 .details {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.introduction .card2 .imgBx {
  top: 0;
  left: 0;
}

.introduction .card2 .imgBx img {
  width: 100%;
}

.introduction .card2 .details {
  background: #ff0000;
  top: 0;
  left: 100%;
  padding: 60px 30px;
}

.introduction .card2 .details h2 {
  color: black;
  text-align: center;
  margin: 0;
  padding: 0 0 10px;
  border-bottom: 2px solid black;
}

.introduction .card2 .details p {
  margin: 20px 0 0;
  color: black;
}

.introduction .card3 {
  position: absolute;
  top: 60%;
  left: 75%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 300px;
  height: 400px;
  background: #6e0000;
  overflow: hidden;
}

.introduction .card3:hover .imgBx {
  top: 0;
  left: -100%;
}

.introduction .card3:hover .details {
  top: 0;
  left: 0%;
}

.introduction .card3 .imgBx,
.introduction .card3 .details {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.introduction .card3 .imgBx {
  top: 0;
  left: 0;
}

.introduction .card3 .imgBx img {
  width: 100%;
}

.introduction .card3 .details {
  background: #ff0000;
  top: 0;
  left: 100%;
  padding: 60px 30px;
}

.introduction .card3 .details h2 {
  color: black;
  text-align: center;
  margin: 0;
  padding: 0 0 10px;
  border-bottom: 2px solid black;
}

.introduction .card3 .details p {
  margin: 20px 0 0;
  color: black;
}

footer {
  background: rgba(0, 0, 0, 0.9);
  padding: 20px;
  text-align: center;
  height: 300px;
}

footer .logo {
  height: 150px;
}

footer .logo img {
  height: 150px;
}

footer .logo img:hover {
  -webkit-filter: invert(0%) sepia(0%) saturate(4232%) hue-rotate(41deg) brightness(91%) contrast(103%);
          filter: invert(0%) sepia(0%) saturate(4232%) hue-rotate(41deg) brightness(91%) contrast(103%);
}

footer p {
  text-align: center;
  color: white;
  padding: 10px 0;
}

footer .social {
  text-align: center;
  padding: 5px;
}

footer .social img {
  margin: 5px;
}

footer small {
  text-align: center;
  color: white;
  padding: 10px 0;
}

.text1 {
  text-align: center;
  height: 80px;
  width: 100%;
  color: #fff;
  font-size: 50px;
  padding-top: 10px;
}

.start {
  width: 1280px;
  margin: 100px auto;
}

.start img {
  margin: 0 auto;
  width: 500px;
  display: block;
}

.start h2 {
  text-align: center;
  padding: 20px 0;
  font-weight: bold;
  letter-spacing: 5px;
  font-size: 40px;
  color: #fff;
}

@media screen and (max-width: 1024px) {
  .start h2 {
    font-size: 60px;
  }
}

@media screen and (max-width: 767px) {
  .start h2 {
    font-size: 50px;
  }
}

.start p {
  width: 50%;
  margin: 0 auto;
  padding: 5px;
  line-height: 2;
  font-size: 20px;
  color: #fff;
}

@media screen and (max-width: 1024px) {
  .start p {
    width: 70%;
    font-size: 30px;
  }
}

@media screen and (max-width: 767px) {
  .start p {
    font-size: 24px;
  }
}
/*# sourceMappingURL=style.css.map */