@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&display=swap");

$color-white: white;
$color-grey: grey;
$text-shadow: 10px 10px 10px rgb(255, 0, 0);
$fashion-shadow: 2px 10px 14px rgba(0, 0, 0, 0.5);
$red: red;
$blue: blue;
$green: green;
$atmosphere: #5b6470;
$dark: #323640;
$light: #bdc7d6;
$desk: 1280px; //桌電
$tablet: 1024px; //平板尺寸 (ipad pro)
$tablets: 960px; //平板尺寸 (ipad)
$mobile: 767px; //手機尺寸

* {
    margin: 0;
    padding: 0;
    font-family: 微軟正黑體;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

header,
section {
    width: 100vw;
    height: 100%;
    background: #000;
}

header {
    position: relative;
    height: 100vh;
    margin: 0 auto;

    @media screen and (max-width: $desk) {
        height: 100vh !important;
    }

    
    @media screen and (max-width: $tablet) {
        height: 60vh !important;
    }

    @media screen and (max-width: $mobile) {
        height: 50vh !important;
    }

    .logo {
        height: 150px;
        width: 150px;
        display: block;

        @media screen and (max-width: $desk) {
            height: 150px;
            width: 150px;
        }

        @media screen and (max-width: $mobile) {
            height: 100px;
            width: 100px;
        }


        img {
            height: 150px;
            z-index: 2;

            @media screen and (max-width: $desk) {
                height: 150px;
                width: 120px;
            }

            @media screen and (max-width: $mobile) {
                height: 100px;
                width: 80px;
            }

            &:hover {
                filter: invert(25%) sepia(80%) saturate(7446%) hue-rotate(8deg) brightness(98%) contrast(117%);
            }
        }
    }

    .ghost {
        position: absolute;
        display: none;
        width: 100%;
        margin: 0 auto;
        top: 120px;
        margin: 0 auto;

        img {
            display: block;
            width: 800px;
            height: 600px;
            // top: 120px;
            margin: 0 auto;
        }
    }

    .box {
        width: 100vw;
        height: 100vh;
        position: relative;

        @media screen and (max-width: $tablet) {
            height: 60vh;
        }

        @media screen and (max-width: $mobile) {
            height: 35vh;
        }

        video {
            position: absolute;
            width: 100vw;
            height: 100vh;
            margin: 0 auto;
            top: 0;
            right: 0;
        }

        iframe {
            width: 2784px !important;
            top: 30%;

            @media screen and (max-width: $tablet) {
                width: 1050px !important;
            }

            @media screen and (max-width: $mobile) {
                width: 375px !important;
            }

        
        }
    
    }
}

// 序章
.prologue {
    height: 90vh;
    padding-top: 200px;

    @media screen and (max-width: $desk) {
        padding-top: 200px;
        height: 90vh;
    }    

    @media screen and (max-width: $mobile) {
        padding-top: 0;
        height: 60vh;
    }    


    h2 {
        padding: 30px;
        font-size: 36px;
        color: rgb(255, 255, 255);
    }

    p {
        text-align: center;
        font-size: 20px;
        padding: 26px 0 10px;
        color: rgb(255, 255, 255);
    }

    .book {
        z-index: 4;

        @media screen and (max-width: $tablets) {
            right: 42px;
        }

        @media screen and (max-width: $mobile) {
            width: 144px; 
            height: 198px;
            left: 40px;
        }

    }

    img {
        width: 100%;
        height: 100%;
    }

    .box2 {
        position: relative;
        width: 40%;
        height: 300px;
        bottom: 150px;
        display: block;
        z-index: 2;

        @media screen and (max-width: $desk) {
            display: block;
        }
    
        @media screen and (max-width: $tablet) {
            display: block;
        }
    
        
        @media screen and (max-width: $tablets) {
            display: none;
        }
    
        video {
            position: absolute;
            left: -60px;
            bottom: 20px;
        }
    }
}
// 飛行好兄弟
.ghost_fly {
    position: relative;
    width: 100%;
    right: 0;
    z-index: 3;

    @media screen and (max-width: $desk) {
        display: block;
    }

    @media screen and (max-width: $tablet) {
        display: block;
    }

    
    @media screen and (max-width: $tablets) {
        display: none;
    }


    img {
        position: absolute;
        width: 200px;
        height: 200px;
        right: 420px;
        bottom: 10%;
        opacity: 0.7;
        transition: 0.7ms;
        animation: ghost_fly 3s 1s;
        animation-fill-mode: backwards;

        @media screen and (max-width: $desk) {
            right: 420px;
        }
    
        @media screen and (max-width: $desk) {
            right: 250px;
        }


        @keyframes ghost_fly {
            0% {
                transform: translateX(800px);
            }
            100% {
                transform: translateX(0);
            }
        }

        &:hover {
            filter: invert(24%) sepia(100%) saturate(7446%) hue-rotate(8deg) brightness(98%) contrast(117%);
        }
    }
}

// 介紹
.introduction {
    position: relative;
    height: 180vh;
    padding-top: 250px;

    @media screen and (max-width: $desk) {
        padding-top: 250px;
    }

    @media screen and (max-width: $tablet) {
        padding-top: 0;
        height: 70vh;
    }

    @media screen and (max-width: $tablets) {
        padding-top: 200px;
        height: 80vh;
    }

    @media screen and (max-width: $mobile) {
        padding-top: 0;
        height: 180vh;
    }    

    h2 {
        padding: 400px 30px 30px;
        font-size: 36px;
        color: rgb(255, 255, 255);

        @media screen and (max-width: $desk) {
            padding: 400px 30px 30px;
        }

        @media screen and (max-width: $tablet) {
            padding: 30px 30px 30px;
        }

    
    }

    .card {
        position: absolute;
        top: 80%;
        left: 25%;
        transform: translate(-50%, -50%);
        width: 300px;
        height: 400px;
        background: #6e0000;
        overflow: hidden;

        
    @media screen and (max-width: $desk) {
        left: 25%;
    }

    @media screen and (max-width: $tablet) {
        left: 18%;
        top: 45%;
    }

    @media screen and (max-width: $tablets) {
        left: 17.5%;
        top: 70%;
        width: 240px;
        height: 320px;
    }

    @media screen and (max-width: $mobile) {
        left: 50%;
        top: 20%;
    }

        &:hover .imgBx {
            top: 0;
            left: -100%;
        }

        &:hover .details {
            top: 0;
            left: 0%;
        }

        .imgBx,
        .details {
            width: 100%;
            height: 100%;
            position: absolute;
            box-sizing: border-box;
            transition: 0.5s;
        }

        .imgBx {
            top: 0;
            left: 0;

            img {
                width: 100%;
            }
        }

        .details {
            background: #ff0000;
            top: 0;
            left: 100%;
            padding: 60px 30px;

            h2 {
                color: rgb(0, 0, 0);
                text-align: center;
                margin: 0;
                padding: 0 0 10px;
                border-bottom: 2px solid rgb(0, 0, 0);
            }

            p {
                margin: 20px 0 0;
                color: rgb(0, 0, 0);
            }
        }
    }

    .card2 {
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 300px;
        height: 400px;
        background: #6e0000;
        overflow: hidden;

        @media screen and (max-width: $desk) {
            top: 80%;
        }
    
        @media screen and (max-width: $tablet) {
            top: 45%;
        }

        @media screen and (max-width: $tablets) {
            top: 70%;
            width: 240px;
            height: 320px;
        }    

        @media screen and (max-width: $mobile) {
            left: 50%;
            top: 50%;
        }    

        &:hover .imgBx {
            top: 0;
            left: -100%;
        }

        &:hover .details {
            top: 0;
            left: 0%;
        }

        .imgBx,
        .details {
            width: 100%;
            height: 100%;
            position: absolute;
            box-sizing: border-box;
            transition: 0.5s;
        }

        .imgBx {
            top: 0;
            left: 0;

            img {
                width: 100%;
            }
        }

        .details {
            background: #ff0000;
            top: 0;
            left: 100%;
            padding: 60px 30px;

            h2 {
                color: rgb(0, 0, 0);
                text-align: center;
                margin: 0;
                padding: 0 0 10px;
                border-bottom: 2px solid rgb(0, 0, 0);
            }

            p {
                margin: 20px 0 0;
                color: rgb(0, 0, 0);
            }
        }
    }

    .card3 {
        position: absolute;
        top: 80%;
        left: 75%;
        transform: translate(-50%, -50%);
        width: 300px;
        height: 400px;
        background: #6e0000;
        overflow: hidden;

        @media screen and (max-width: $desk) {
            left: 75%;
        }
    
        @media screen and (max-width: $tablet) {
            left: 82%;
            top: 45%;
        }

        @media screen and (max-width: $tablets) {
            left: 82.5%;
            top: 70%;
            width: 240px;
            height: 320px;
        }

        @media screen and (max-width: $mobile) {
            left: 50%;
            top: 80%;
        }    



        &:hover .imgBx {
            top: 0;
            left: -100%;
        }

        &:hover .details {
            top: 0;
            left: 0%;
        }

        .imgBx,
        .details {
            width: 100%;
            height: 100%;
            position: absolute;
            box-sizing: border-box;
            transition: 0.5s;
        }

        .imgBx {
            top: 0;
            left: 0;

            img {
                width: 100%;
            }
        }

        .details {
            background: #ff0000;
            top: 0;
            left: 100%;
            padding: 60px 30px;

            h2 {
                color: rgb(0, 0, 0);
                text-align: center;
                margin: 0;
                padding: 0 0 10px;
                border-bottom: 2px solid rgb(0, 0, 0);
            }

            p {
                margin: 20px 0 0;
                color: rgb(0, 0, 0);
            }
        }
    }
}

// 頁尾區
footer {
    background: rgba(0, 0, 0, 0.9);
    padding: 20px;
    text-align: center;
    width: 100vw;

    .logo {
        height: 150px;

        img {
            height: 150px;

            &:hover {
                filter: invert(0%) sepia(0%) saturate(4232%) hue-rotate(41deg) brightness(91%) contrast(103%);
            }
        }
    }

    p {
        text-align: center;
        color: $color-white;
        padding: 10px 0;
    }

    .social {
        text-align: center;
        padding: 5px;

        img {
            margin: 5px;
        }
    }

    small {
        text-align: center;
        color: $color-white;
        padding: 10px 0;
    }
}

// 恐怖故事選單
nav {
    position: fixed;
    left: 10px;
    cursor: pointer;
    z-index: 10;

    @media screen and (max-width: $desk) {
        top: 110px;
    }


    a {
        text-decoration: none;
        color: #fff;
        background: rgba(0, 0, 0, 0.5);
        text-align: center;
    }

    .ghost_link {
        position: relative;
        text-decoration: none;
        display: inline-block;
        color: #fff;
        background: rgba(0, 0, 0, 0.5);
        text-align: center;
        margin-top: 0.5em;
        min-width: 8em;
        padding: 0.5em 1em;

        // 滑入後 顯示 裡面的 子分頁元素
        &:hover .mini-link {
            // display: block;
            transform: scale(1);
        }
    }
    .mini-link {
        position: absolute;
        top: 0;
        left: 100%;
        margin-top: 0.5em;
        background: rgba(255, 0, 0, 0.5);
        min-width: 8em;
        padding: 0;
        transform: scale(0);
        transition: 0.5s;
        transform-origin: left;

        li {
            list-style-type: none;
            &:hover {
                background: red;
            }

            a {
                text-decoration: none;
                padding: 0.5em 1em;
                display: block;
            }
        }
    }
}
.dropdown-toggle {
    padding: 0.5em 1em;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5px 5px 5px 5px;
    border: 1px solid red;
    font-size: 20px;
    font-weight: 900;
    transition: 1s;

    &:hover {
        background: red;
        border: 1px solid rgba(255, 0, 0, 0);
        color: #000;
    }
}
ul.dropdown {
    display: none;
    position: absolute;
    top: 100%;
    margin-top: 10px;
    background: rgba(255, 0, 0, 0.5);
    min-width: 8em;
    padding: 0;
    border-radius: 0 0 0.2em 0.2em;
    transition: 0.5s;

    @media screen and (max-width: $desk) {
        top: 100%;
    }

    @media screen and (max-width: $tablet) {
        top: 120%;
    }

    li {
        list-style-type: none;

        &:hover {
            background: red;
        }

        a {
            text-decoration: none;
            padding: 0.5em 1em;
            display: block;
        }
    }
}

.start {
    width: 100%;
    margin: 50px auto;

    @media screen and (max-width: $tablet) {
        width: 100%;
    }

    @media screen and (max-width: $mobile) {
        width: 100%;
    }


    img {
        margin: 0 auto;
        width: 500px;
        display: block;

        @media screen and (max-width: $desk) {
            width: 500px;
        }

        @media screen and (max-width: $mobile) {
            width: 375px;
        }

    
    }

    article {
        margin-bottom: 50px;
    }

    h2 {
        text-align: center;
        padding: 20px 0;
        font-weight: bold;
        letter-spacing: 5px;
        font-size: 50px;
        color: #fff;

        @media screen and (max-width: $tablet) {
            font-size: 60px;
        }

        @media screen and (max-width: $mobile) {
            font-size: 50px;
        }
    }

    p {
        width: 50%;
        margin: 0 auto;
        padding: 5px;
        line-height: 2;
        font-size: 22px;
        color: #fff;

        @media screen and (max-width: $tablet) {
            width: 70%;
            font-size: 30px;
        }

        @media screen and (max-width: $mobile) {
            font-size: 24px;
        }
    }
}

// 故事區
.text {
    text-align: center;
    color: #fff;
    padding-top: 10px;
    font-size: 70px;
    font-weight: bold;
}
.story {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding-top: 100px;

    @media screen and (max-width: $desk) {
        padding-top: 250px;
    }

    @media screen and (max-width: $tablet) {
        width: 100%;
    }

    @media screen and (max-width: $tablets) {
        padding-top: 700px;
    }

    @media screen and (max-width: $mobile) {
        padding-top: 1150px;
    }

    .box_magic {
        margin-top: 200px;
    }

    .photos {
        margin: 0 auto;
        padding: 50px 0 50px 0;
        width: 100%;
        position: relative;
        display: table;

        img {
            margin: 0 auto;
            width: 500px;
            display: block;
            transform: translateX(100%);

            @media screen and (max-width: $desk) {
                transform: translateX(100%);
                width: 500px;
            }
        
            @media screen and (max-width: $tablet) {
                transform: translateX(50%);
            }

            @media screen and (max-width: $tablets) {
                transform: translateX(27%);
            }
        
            @media screen and (max-width: $mobile) {
                transform: translateX(4%);
                width: 350px;
            }

        }
    }

    h4 {
        text-align: center;
        padding: 20px 0;
        font-weight: bold;
        letter-spacing: 5px;
        font-size: 40px;
        color: #fff;

        @media screen and (max-width: $tablet) {
            font-size: 40px;
        }
    }

    p {
        width: 80%;
        margin: 0 auto;
        padding: 5px;
        line-height: 2;
        font-size: 22px;
        color: #fff;

        @media screen and (max-width: $desk) {
            width: 80%;
            font-size: 22px;
        }

        @media screen and (max-width: $tablet) {
            width: 70%;
            font-size: 30px;
        }

        @media screen and (max-width: $tablets) {
            width: 70%;
            font-size: 30px;
        }


        @media screen and (max-width: $mobile) {
            font-size: 24px;
            line-height: 2;
        }
    }

    small {
        display: block;
        text-align: center;
        color: #fff;
        padding: 30px 0;
    }
}
// 短篇故事區塊
.story1 {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding-top: 200px;

    @media screen and (max-width: $tablet) {
        width: 100%;
    }

    .boxing {
        width: 100%;
        margin: 0 auto;
        padding-top: 50px;

        @media screen and (max-width: $desk) {
            padding-top: 50px;
            }

        @media screen and (max-width: $tablets) {
            padding-top: 700px;
            }


        .box_magic {
            display: grid;
            grid-template-columns: 40% 60%;
            grid-gap: 80px;
            padding-top: 100px;

            @media screen and (max-width: $tablet) {
                grid-template-columns: none;
                display: block;
            }
        }

        .photos {
            margin: 0 auto;
            padding: 0;
            display: block;
            width: 100%;
            position: relative;
        }

        img {
            width: 450px;
            height: 600px;
            object-fit: cover;
            margin: 0 100px;

            @media screen and (max-width: $tablet) {
                margin: 0 290px;
            }

            @media screen and (max-width: $tablets) {
                margin: 0 160px;
            }

            @media screen and (max-width: $mobile) {
                margin: 0 auto;
            }
        }

        .article {
            margin: 0;
            padding-right: 30%;
            display: block;
            width: 100%;

            @media screen and (max-width: $tablet) {
                margin: 0 auto;
            }
        }

        h4 {
            text-align: center;
            padding: 20px 10px 10px;
            font-size: 32px;
            font-weight: bold;
            color: #fff;

            @media screen and (max-width: $tablet) {
                font-size: 40px;
            }
        }

        p {
            font-size: 20px;
            padding: 10px 0;
            line-height: 2.5;
            color: #fff;
            width: 90%;

            @media screen and (max-width: $tablet) {
                width: 70%;
                font-size: 30px;
                margin: 0 auto;
            }

            @media screen and (max-width: $tablets) {
                width: 65%;
            }


            @media screen and (max-width: $mobile) {
                font-size: 24px;
                line-height: 2;
            }
        }

        .box_magic:nth-child(odd) {
            grid-template-areas: "pic text";
            grid-template-columns: 40% 60%;

            @media screen and (max-width: $tablet) {
                grid-template-columns: 1fr;
                margin: 0 auto;
            }
        }
        .box_magic:nth-child(odd) .photos {
            grid-area: pic;
        }
        .box_magic:nth-child(odd) article {
            grid-area: text;
            padding: 0 50px;

            @media screen and (max-width: $desk) {
                padding: 0 50px;
            }

            @media screen and (max-width: $tablet) {
                padding: 0;
            }

            @media screen and (max-width: $mobile) {
                padding: 0 30px;
            }
        }

        .box_magic:nth-child(even) {
            grid-template-areas: "text pic";
            grid-template-columns: 60% 40%;
            margin-right: 15%;

            @media screen and (max-width: $tablet) {
                grid-template-columns: 1fr;
                margin: 0 auto;
            }
        }

        .box_magic:nth-child(even) .photos {
            grid-area: pic;
        }

        .box_magic:nth-child(even) article {
            grid-area: text;

            @media screen and (max-width: $tablet) {
                padding: 0;
            }

            @media screen and (max-width: $mobile) {
                padding: 0 30px;
            }
        }

        .box_magic:nth-child(even) p {
            padding-left: 50px;

            @media screen and (max-width: $desk) {
                padding-left: 50px;
            }

            @media screen and (max-width: $tablet) {
                padding-left: 0;
            }

        }
    }
}
// 圖片滑動換圖1
.changeone {
    position: absolute;
    top: 0;
    opacity: 1;
    transition: 1s;
    &:hover {
        opacity: 0;
    }
}
// 圖片滑動換圖2
.changethree {
    position: absolute;
    margin: 0 auto;
    width: 100%;
    opacity: 1;
    transition: 1s;
    z-index: 2;
    display: table-cell;
    vertical-align: middle;
    text-align: center;

    &:hover {
        opacity: 0;
    }
}
.changefour {
    margin: 0 auto;
    opacity: 1;
    float: left;
}
// 恐怖分析
.link {
    display: block;
    float: left;
    width: 200px;
    height: 280px;
    margin-left: 20px;
    z-index: 5;

    button {
        // background: rgb(100, 0, 0);
        background: rgba(100, 0, 0, 1);
        box-shadow: 1px 1px 20px rgba(120, 0, 0, 1);
        margin-bottom: 20px;
        font-size: 18px;
        padding: 10px 50px;
        color: rgb(150, 150, 150);
        letter-spacing: 2px;
        font-weight: 900;
        transform-origin: center;
        transition: 0.4s;
        cursor: pointer;
        border: 1px solid rgb(70, 70, 70);
        z-index: 5;

        &:hover {
            background: rgb(220, 0, 0);
            transform: scale(1.1);
            box-shadow: 0 0 20px rgb(255, 0, 0);
            border: 1px solid rgb(255, 255, 255);
            color: #fff;
        }
    }

    a {
        text-decoration: none;
        color: rgb(199, 199, 199);
        letter-spacing: 2px;
        font-weight: 900;
        font-size: 18px;

        &:hover {
            text-decoration: none;
            text-shadow: 0 0 50px rgb(255, 255, 255);
        }
    }
}
// 輪播
.prevel {
    width: 800px;
    height: 600px;
    padding: 70px 0 0 600px;
}
#carouselExampleSlidesOnly {
    width: 800px;
    height: 600px;
}
.carousel-inner {
    width: 800px;
    height: 600px;

    img {
        width: 800px;
        height: 500px;
        object-fit: cover;
    }
}
// 貓頭鷹輪播
.owl-carousel {
    top: 40%;
    left: -100px;
    width: 500px;
    z-index: 4 !important;

    .owl-item {
        width: 100%;

        img {
            width: 350px !important;
        }
    }
}
// 墓地
.Cemetery {
    position: relative;
    width: 100%;
    top: 0;
    z-index: 2;

    img {
        position: absolute;
        width: 400px;
        height: 300px;
        left: 65%;
        top: -50px;
        filter: blur(1px);
    }
}
// 霧
.smog {
    position: relative;
    width: 100%;
    top: 0;
    z-index: 4;

    img {
        position: absolute;
        width: 400px;
        height: 300px;
        left: 65%;
        top: -50px;
        opacity: 0.75;
        filter: blur(1px);
    }
}
// 霧狀鬼
.halloween_ghost {
    position: relative;
    width: 100%;
    top: 0;
    z-index: 4;

    img {
        position: absolute;
        width: 200px;
        height: 200px;
        left: 67%;
        top: 10px;
        opacity: 0.1;
        animation: Ghost 1s 0.4s;
        animation-fill-mode: backwards;

        &:hover {
            opacity: 0.5;
            filter: invert(11%) sepia(62%) saturate(7083%) hue-rotate(357deg) brightness(99%) contrast(110%);
        }

        @keyframes Ghost {
            0% {
                transform: translateY(300px);
                opacity: 0;
            }

            100% {
                transform: translateY(0);
                opacity: 1;
            }
        }
    }
}

// 天花板
.inside_ceiling {
    position: relative;
    width: 100%;
    top: 0;
    z-index: 2;

    img {
        position: absolute;
        width: 2450px;
        height: 400px;
        left: -30%;
        top: 5%;
        opacity: 0.75;
    }
}

// 移動吊死鬼
.ghost_hang {
    position: relative;
    width: 100%;
    top: 270px;
    z-index: 3;

    img {
        position: absolute;
        width: 275px;
        height: 400px;
        left: -15%;
        top: 16%;
        opacity: 0.5;

        &:hover {
            filter: invert(24%) sepia(100%) saturate(1%) hue-rotate(8deg) brightness(98%) contrast(200%);
        }
    }
}

// 靈異分析區塊
.ghostview {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding-top: 200px;

    @media screen and (max-width: $tablet) {
        width: 100%;
    }

    .ghost_boxing {
        width: 100%;
        margin: 0 auto;
        padding-top: 50px;

        .ghost_box_magic {
            display: grid;
            grid-template-columns: 40% 60%;
            grid-gap: 80px;
            padding-top: 100px;

            @media screen and (max-width: $tablet) {
                grid-template-columns: none;
                display: block;
            }
        }

        .ghost_photos {
            margin: 0 auto;
            padding: 0;
            display: block;
            width: 100%;
        }

        img {
            width: 450px;
            height: 600px;
            object-fit: cover;
            margin: 0 100px;

            @media screen and (max-width: $tablet) {
                margin: 0 290px;
            }

            @media screen and (max-width: $tablets) {
                margin: 0 160px;
            }

            @media screen and (max-width: $mobile) {
                margin: 0 auto;
            }
        }

        .article {
            margin: 0;
            padding-right: 30%;
            display: block;
            width: 100%;

            @media screen and (max-width: $tablet) {
                margin: 0 auto;
            }
        }

        h4 {
            text-align: center;
            padding: 20px 10px 10px;
            font-size: 32px;
            font-weight: bold;
            color: #fff;

            @media screen and (max-width: $tablet) {
                font-size: 40px;
            }
        }

        p {
            font-size: 20px;
            padding: 10px 0;
            line-height: 2.5;
            color: #fff;
            width: 90%;

            @media screen and (max-width: $tablet) {
                width: 100%;
                font-size: 30px;
            }

            @media screen and (max-width: $mobile) {
                font-size: 24px;
                line-height: 2;
            }
        }

        .ghost_box_magic:nth-child(odd) {
            grid-template-areas: "pic text";
            grid-template-columns: 40% 60%;

            @media screen and (max-width: $tablet) {
                grid-template-columns: 1fr;
                margin: 0 auto;
            }
        }
        .ghost_box_magic:nth-child(odd) .photos {
            grid-area: pic;
        }
        .ghost_box_magic:nth-child(odd) article {
            grid-area: text;
            padding: 0 50px;

            @media screen and (max-width: $mobile) {
                padding: 0 30px;
            }
        }

        .ghost_box_magic:nth-child(even) {
            grid-template-areas: "text pic";
            grid-template-columns: 60% 40%;
            margin-right: 15%;

            @media screen and (max-width: $tablet) {
                grid-template-columns: 1fr;
                margin: 0 auto;
            }
        }

        .ghost_box_magic:nth-child(even) .photos {
            grid-area: pic;
        }

        .ghost_box_magic:nth-child(even) article {
            grid-area: text;

            @media screen and (max-width: $tablet) {
                padding: 0 100px;
            }

            @media screen and (max-width: $mobile) {
                padding: 0 30px;
            }
        }

        .ghost_box_magic:nth-child(even) p {
            padding-left: 50px;
        }
    }
}
// 喪屍區輪播bootstrap
.zombie {
    width: 800px;
    height: 600px;
    margin: 70px 0 0 380px;

    #carouselExampleSlidesOnly {
        width: 100%;
        height: 600px;

        .carousel-inner {
            width: 100%;
            height: 600px;

            img {
                width: 800px;
                height: 500px;
                object-fit: cover;
            }
        }
        .carousel-control {
            position: relative;
            width: 1000px;
            height: 100%;

            .carousel-control-prev {
                position: absolute;
                left: -100px !important;
            }
            .carousel-control-next {
                position: absolute;
                right: -500px !important;
            }
        }
    }
}
// 喪屍區輪播owl
.zombie_card {
    width: 800px;
    margin: 0 auto;
    padding-left: 200px;

    .owl-carousel {
        top: 20% !important;
    }

    .owl-nav::before :disabled {
        display: none !important;
    }

    .item_zombie {
        margin: 100px auto;

        img {
            width: 550px !important;
            height: 550px !important;
            object-fit: cover;
            /* border-radius: 50%; 寬高要相同(圓形) */
            border-radius: 50%;
            display: block;
            /* 顯示模式：區塊 */
            margin: 0 auto;
            /* 區塊元素 block 才能margin:0 auto; */
            transition: 0.5s;
            box-shadow: $fashion-shadow;

            &:hover {
                border-radius: 20px;
            }
        }
    }
}
// 步行喪屍
.zombie_walk {
    position: relative;
    width: 100vw;
    bottom: 50px;

    img {
        position: absolute;
        width: 200px;
        height: 300px;
        right: -15%;
    }
}
// 跳躍喪屍
.zombie_jump {
    position: relative;
    width: 100vw;
    bottom: 50px;

    img {
        position: absolute;
        width: 200px;
        height: 300px;
        left: -15%;
    }
}
// 太極主頁面介紹
.tai_chi {
    width: 1280px;
    margin: 10px auto;

    img {
        margin: 0 auto;
        width: 600px;
        display: block;
        padding-right: 100px;
        transition: 0.5s;

        &:hover {
            transform: scale(1.05);
        }
    }

    article {
        margin-bottom: 50px;
    }

    h2 {
        text-align: center;
        padding: 20px 0;
        font-weight: bold;
        letter-spacing: 5px;
        font-size: 50px;
        color: #fff;

        @media screen and (max-width: $tablet) {
            font-size: 60px;
        }

        @media screen and (max-width: $mobile) {
            font-size: 50px;
        }
    }

    p {
        width: 80%;
        margin: 0 auto;
        padding: 5px;
        line-height: 2;
        font-size: 22px;
        color: #fff;

        @media screen and (max-width: $tablet) {
            width: 70%;
            font-size: 30px;
        }

        @media screen and (max-width: $mobile) {
            font-size: 24px;
        }
    }
}

// 五行相關介紹
.propertyview {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding-top: 200px;

    @media screen and (max-width: $tablet) {
        width: 100%;
    }

    .property_boxing {
        width: 100%;
        margin: 0 auto;
        padding-top: 50px;
        margin-top: 100px;

        .property_box_magic {
            display: grid;
            grid-template-columns: 40% 60%;
            grid-gap: 80px;
            padding-top: 100px;

            @media screen and (max-width: $tablet) {
                grid-template-columns: none;
                display: block;
            }
        }

        .property_photos {
            margin: 0 auto;
            padding: 0;
            display: block;
            width: 100%;
        }

        img {
            width: 450px;
            height: 600px;
            object-fit: cover;
            margin: 0 100px 50px;

            @media screen and (max-width: $tablet) {
                margin: 0 290px;
            }

            @media screen and (max-width: $tablets) {
                margin: 0 160px;
            }

            @media screen and (max-width: $mobile) {
                margin: 0 auto;
            }
        }

        .article {
            margin: 0;
            padding-right: 30%;
            display: block;
            width: 100%;

            @media screen and (max-width: $tablet) {
                margin: 0 auto;
            }
        }

        h4 {
            text-align: center;
            padding: 20px 10px 10px;
            width: 85%;
            font-size: 32px;
            font-weight: bold;
            color: #fff;

            @media screen and (max-width: $tablet) {
                font-size: 40px;
            }
        }

        p {
            font-size: 20px;
            padding: 30px 0;
            line-height: 2.5;
            color: #fff;
            width: 85%;

            @media screen and (max-width: $tablet) {
                width: 100%;
                font-size: 30px;
            }

            @media screen and (max-width: $mobile) {
                font-size: 24px;
                line-height: 2;
            }
        }

        small {
            color: #fff;
        }

        .property_box_magic:nth-child(odd) {
            grid-template-areas: "pic text";
            grid-template-columns: 40% 60%;

            @media screen and (max-width: $tablet) {
                grid-template-columns: 1fr;
                margin: 0 auto;
            }
        }
    }
}
// 淡出輪播效果
.others {
    width: 800px;
    height: 600px;
    margin: 70px 0 0 380px;

    #carouselExampleFade {
        width: 100%;
        height: 600px;

        .carousel-inner {
            width: 100%;
            height: 600px;

            img {
                width: 800px;
                height: 500px;
                object-fit: cover;
            }
        }
        .carousel-control {
            position: relative;
            width: 1000px;
            height: 100%;

            .carousel-control-prev {
                position: absolute;
                left: -100px !important;
            }
            .carousel-control-next {
                position: absolute;
                right: -500px !important;
            }
        }
    }
}
// 站立骷髏
.skull_stand {
    position: relative;
    width: 100%;

    img {
        position: absolute;
        width: 140px;
        height: 250px;
        top: 0;
        left: 100px;
        animation: skst 2s 1s;
        animation-fill-mode: backwards;
        transition: 0.5s;

        @keyframes skst {
            0% {
                transform: translateX(-700px);
            }
            100% {
                transform: translateX(0);
            }
        }

        &:hover {
            transform: scale(1.2);
        }
    }
}

// 哥布林
.goblin_stand {
    position: relative;
    width: 100vw;
    z-index: 2;

    img {
        position: absolute;
        width: 150px;
        height: 200px;
        top: 50px;
        left: 400px;
        transition: 0.5s;

        &:hover {
            transform: scale(0.75);
        }
    }
}

// 骷髏正面和側邊
.skullfo {
    position: relative;
    width: 100vw;
    bottom: 50px;

    img {
        position: absolute;
        width: 300px;
        height: 300px;
        top: 0;
        left: 45%;
        opacity: 1;

        &:hover {
            filter: invert(24%) sepia(100%) saturate(1%) hue-rotate(8deg) brightness(98%) contrast(200%);
        }
    }
}
.skullri {
    position: relative;
    width: 100vw;
    bottom: 50px;

    img {
        position: absolute;
        width: 300px;
        height: 300px;
        top: 50px;
        left: 300px;
        opacity: 0;
        animation: skri 2s 1s;
        animation-fill-mode: backwards;

        @keyframes skri {
            0% {
                transform: translateX(-700px);
                opacity: 1;
            }
            100% {
                transform: translateX(0);
                transform: scale(0.3);
                opacity: 0;
            }
        }
    }
}

// 飆車骷髏
.skull_rider {
    position: relative;
    width: 100vw;

    img {
        position: absolute;
        width: 300px;
        height: 200px;
        top: 0;
        right: 100px;
        animation: rider 3s 1s;
        animation-fill-mode: backwards;

        &:hover {
            @keyframes rider {
                0% {
                    transform: translateX(500px);
                }
                100% {
                    transform: translateX(0);
                }
            }
            filter: invert(24%) sepia(100%) saturate(1%) hue-rotate(8deg) brightness(98%) contrast(200%);
        }
    }
}
// 恐怖研究
.drop {
    position: fixed;
    left: 10px;
    cursor: pointer;

    a {
        text-decoration: none;
        color: #fff;
        background: rgba(0, 0, 0, 0.5);
        text-align: center;
    }

    .ghost_link {
        position: relative;
        text-decoration: none;
        display: inline-block;
        color: #fff;
        background: rgba(0, 0, 0, 0.5);
        text-align: center;
        margin-top: 0.5em;
        min-width: 8em;
        padding: 0.5em 1em;

        // 滑入後 顯示 裡面的 子分頁元素
        &:hover .mini-link {
            // display: block;
            transform: scale(1);
        }
    }
    .mini-link {
        position: absolute;
        top: 0;
        left: 100%;
        margin-top: 0.5em;
        background: rgba(255, 0, 0, 0.5);
        min-width: 8em;
        padding: 0;
        transform: scale(0);
        transition: 0.5s;
        transform-origin: left;

        li {
            list-style-type: none;
            &:hover {
                background: red;
            }
            a {
                text-decoration: none;
                padding: 0.5em 1em;
                display: block;
            }
        }
    }
}

.dropdown_togglebt {
    padding: 0.5em 1em;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5px 5px 5px 5px;
    border: 1px solid red;
    font-size: 20px;
    font-weight: 900;
    transition: 1s;

    &:hover {
        background: red;
        border: 1px solid rgba(255, 0, 0, 0);
        color: #000;
    }
}
ul.dropdownbt {
    display: none;
    position: absolute;
    top: 100%;
    margin-top: 10px;
    background: rgba(255, 0, 0, 0.5);
    min-width: 8em;
    padding: 0;
    border-radius: 0 0 0.2em 0.2em;
    transition: 0.5s;

    li {
        list-style-type: none;

        &:hover {
            background: red;
        }

        a {
            text-decoration: none;
            padding: 0.5em 1em;
            display: block;
        }
    }
}
// 研究介紹
.description {
    width: 100vw;
    height: 80vh;
    margin: 0 auto;

    img {
        margin: 0 auto;
        width: 500px;
        display: block;
    }

    article {
        margin-bottom: 50px;
    }

    h2 {
        text-align: center;
        padding: 20px 0;
        font-weight: bold;
        letter-spacing: 5px;
        font-size: 50px;
        color: #fff;

        @media screen and (max-width: $tablet) {
            font-size: 60px;
        }

        @media screen and (max-width: $mobile) {
            font-size: 50px;
        }
    }

    p {
        width: 80%;
        margin: 0 auto;
        padding: 5px;
        line-height: 2;
        font-size: 22px;
        color: #fff;

        @media screen and (max-width: $tablet) {
            width: 70%;
            font-size: 30px;
        }

        @media screen and (max-width: $mobile) {
            font-size: 24px;
        }
    }
}

// 研究內容
.serch {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding-top: 30px;

    @media screen and (max-width: $tablet) {
        width: 100%;
    }

    .box_magic {
        margin-top: 0;
    }

    .photos {
        margin: 0 auto;
        padding: 0;
        display: block;
        width: 100%;

        img {
            margin: 0 auto;
            width: 500px;
            display: block;
        }
    }

    article {
        h4 {
            text-align: center;
            padding: 20px 0;
            font-weight: bold;
            letter-spacing: 5px;
            font-size: 40px;
            color: #fff;

            @media screen and (max-width: $tablet) {
                font-size: 40px;
            }
        }

        p {
            width: 80%;
            margin: 0 auto;
            padding: 5px;
            line-height: 2;
            font-size: 22px;
            color: #fff;

            @media screen and (max-width: $tablet) {
                width: 100%;
                font-size: 30px;
            }

            @media screen and (max-width: $mobile) {
                font-size: 24px;
                line-height: 2;
            }
        }

        small {
            color: #fff;
            text-align: center;
            display: block;
            padding: 50px 0;
        }
    }
}

// 研究影片區
.othervideo {
    width: 800px;
    height: 600px;
    margin: 0 0 0 380px;

    #carouselExampleControlsNoTouching {
        width: 100%;
        height: 600px;

        .carousel-inner {
            width: 100%;
            height: 600px;

            .movie {
                margin-top: 70px;
            }

            small {
                padding: 10px 0;
                display: block;
                text-align: center;
                color: #fff;
            }

            img {
                width: 800px;
                height: 500px;
                object-fit: cover;
            }
        }

        .carousel-control-prev {
            left: -200px;
        }

        .carousel-control-next {
            right: -200px;
        }
    }
}
// 動態幽靈
.ghostfy {
    background: rgb(75, 0, 0);
    margin: 50px auto;
    line-height: 0.8;
    font-size: 230px;
    border-radius: 40% 60%;
    box-shadow: 0 0 48px 52px rgb(75, 0, 0);
    text-shadow: 0 0 13px rgb(78, 0, 0);
    color: rgb(51, 17, 17);
    width: 202px;
    font-family: "Segoe UI Symbol", Symbola, "Apple Color Emoji" q, sans-serif, serif, fantasy, monospace;

    img {
        &:hover {
            filter: invert(25%) sepia(80%) saturate(0%) hue-rotate(2deg) brightness(100%) contrast(100%);
        }
    }
}

.bobber {
    -webkit-animation: 2s bob infinite alternate;
    animation: 2s bob infinite alternate;

    @media screen and (max-width: $desk) {
        display: block;
    }

    @media screen and (max-width: $mobile) {
        display: none;
    }


}
@-webkit-keyframes bob {
    from {
        margin-top: 20px;
    }
    to {
        margin-top: 50px;
    }
}
@keyframes bob {
    from {
        margin-top: 20px;
    }
    to {
        margin-top: 50px;
    }
}

.weaver {
    -webkit-animation: 13s weave infinite alternate;
    animation: 13s weave infinite alternate;
}
@-webkit-keyframes weave {
    from {
        margin-left: 80%;
    }
    to {
        margin-left: -80%;
    }
}
@keyframes weave {
    from {
        margin-left: 80%;
    }
    to {
        margin-left: -80%;
    }
}

.ghostfy {
    -webkit-animation: 1s glow infinite alternate;
    animation: 1s glow infinite alternate;
}
@-webkit-keyframes glow {
    from {
        opacity: 0.1;
    }
    to {
        opacity: 0.8;
    }
}
@keyframes glow {
    from {
        opacity: 0.1;
    }
    to {
        opacity: 0.8;
    }
}

// 分頁
.pagination {
    display: inline-block;
    transform: translateX(45%);
    width: 100%;

    @media screen and (max-width: $desk) {
        transform: translateX(45%);
        width: 100%;
    }

    @media screen and (max-width: $tablet) {
        transform: translateX(75%);
        width: 50%;
    }

    @media screen and (max-width: $tablets) {
        transform: translateX(70%);
    }

    @media screen and (max-width: $mobile) {
        transform: translateX(55%);
    }

  
  a {
    color: white;
    float: left;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;

    @media screen and (max-width: $desk) {
        padding: 8px 16px;
    }

    @media screen and (max-width: $mobile) {
        padding: 8px 10px;

    }


  }
}

// 置頂按鈕
#gotop {
    position: absolute;
    display: none;
    width: 50px;
    height: 50px;
    background-color: #5f717e00;
    position: fixed;
    right: 10px;
    bottom: 10px;
    padding: 5px;
    cursor: pointer;
    z-index: 99999;
}

// 聯絡LEO
.contactme {
    height: 100%;
    width: 100%;
}
#list {
    padding: 100px 0 0;
    color: #fff;
    text-align: center;
    font-size: 50px;
}

form {
    width: 1280px;
    margin: 0 auto;
    padding: 20px 0 100px;
    z-index: 10;

    @media screen and (max-width: $tablet) {
        width: 100%;
        padding: 20px 20px 100px;
    }

    input {
        width: 47%;
        padding: 10px;

        @media screen and (max-width: $tablet) {
            width: 100%;
            margin-bottom: 20px;
        }

        &::placeholder {
            color: rgb(80, 80, 80);
            font-size: 14px;
        }
    }

    input[type="email"] {
        float: right;
    }

    input[type="submit"] {
        width: 100%;
    }

    textarea {
        width: 100%;
        height: 300px;
        margin: 30px 0;
        padding: 10px;

        &::placeholder {
            color: rgb(80, 80, 80);
            font-size: 14px;
        }
    }
}
// 門
.container_door {
    width: 100%;
    height: 62%;
    position: relative;
    overflow: hidden;

    @media screen and (max-width: $desk) {
        height: 62%;
    }

    @media screen and (max-width: $tablet) {
        height: 90%;
    }

    @media screen and (max-width: $tablets) {
        height: 90%;
    }

    @media screen and (max-width: $mobile) {
        height: 100%;
    }

}

.door {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.door .left,
.door .right {
    font-size: 10pt;
    display: inline-block;
    width: calc(50% - 2.5px);
    height: 85%;
    background: #500000;
}

.door .left {
    float: left;
    border-right: solid 2.5px #111;
}

.door .right {
    float: right;
    border-left: solid 2.5px #111;
}

.enter {
    cursor: pointer;
    position: relative;
    display: block;
    background: #500000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 30px;
    width: 50px;
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
    z-index: 2;
    position: absolute;
    padding: 5px 10px;
    margin: auto;
    color: #500000;
    border: solid 3px black;

    img {
        width: 50px;
        height: 50px;
        display: block;
        position: absolute;
        right: -3px;
        top: -13px;
    }
}

.enter:hover {
    color: red;
}
// 洞
b,
b:before,
b:after {
    display: block;
    border-radius: 50%;
    margin: 50px auto;
}
b {
    filter: blur(10px);
    width: 60vmin;
    height: 61vmin;
    box-shadow: 1vmin 0 3vmin 2vmin rgb(255, 0, 0), inset -1vmin 0 3vmin 4vmin rgb(255, 41, 41),
        -4vmin 0 35vmin 0 rgb(255, 0, 0);
    animation: bh 5s linear infinite;
}
@keyframes bh {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}
b:before,
b:after {
    content: "";
    background: white;
    position: relative;
    top: 6vmin;
}
//   b:before {
//     width: 3vmin;
//     height: 3vmin;
//     left: 40vmin;
//     box-shadow: rgb(255, 0, 0) 0 0 2vmin 2vmin,
//                 rgb(255, 0, 0) 2vmin 4vmin 2vmin 0.5vmin;
//   }
//   b:after {
//     width: 38vmin;
//     height: 38vmin;
//     opacity: 0.03;
//     left: -14vmin;
//   }
// 烏雲背景

// Import google font
@import url(https://fonts.googleapis.com/css?family=Oswald);

// Cloud vars
$clouds: ("https://s.cdpn.io/15514/clouds_2.png" 1000px 20s), ("https://s.cdpn.io/15514/clouds_1.png" 1000px 15s),
    ("https://s.cdpn.io/15514/clouds_3.png" 1579px 17s);

@for $i from 1 through length($clouds) {
    $item: nth($clouds, $i);
    $path: nth($item, 1);
    $width: nth($item, 2);
    $duration: nth($item, 3);

    @keyframes clouds-loop-#{$i} {
        to {
            background-position: -$width 0;
        }
    }

    .clouds-#{$i} {
        background-image: url($path);
        animation: clouds-loop-#{$i} $duration infinite linear;
    }
}

// =====================================================

.clouds {
    pointer-events: none;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    opacity: 0.2;
    z-index: 1;
}

.clouds-1,
.clouds-2,
.clouds-3 {
    background-repeat: repeat-x;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 500px;
}
