@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: 微軟正黑體;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

header,
section {
  height: 100%;
  background: #000;
}

header {
  position: relative;
  height: 100vh;
  margin: 0 auto;
}

header .logo {
  height: 150px;
  width: 150px;
  display: block;
  float: left;
}

header .logo img {
  height: 150px;
  z-index: 1;
}

header .logo img:hover {
  -webkit-filter: invert(25%) sepia(80%) saturate(7446%) hue-rotate(8deg) brightness(98%) contrast(117%);
          filter: invert(25%) sepia(80%) saturate(7446%) hue-rotate(8deg) brightness(98%) contrast(117%);
}

header .ghost {
  position: absolute;
  display: block;
  width: 100%;
  margin: 0 auto;
  top: 120px;
  margin: 0 auto;
}

header .ghost img {
  display: block;
  width: 800px;
  height: 600px;
  margin: 0 auto;
}

header video {
  width: 100%;
  margin: 0 auto;
}

.prologue {
  height: 90vh;
}

.prologue h2 {
  padding: 30px;
  font-size: 36px;
  color: white;
}

.prologue p {
  text-align: center;
  font-size: 20px;
  padding: 26px 0 10px;
  color: white;
}

.prologue .book {
  z-index: 4;
}

.prologue img {
  width: 100%;
  height: 100%;
}

.prologue .box2 {
  position: relative;
  width: 100%;
  height: 300px;
  bottom: 150px;
  display: block;
  z-index: 2;
}

.prologue .box2 video {
  position: absolute;
  left: 100px;
  bottom: 20px;
}

.prologue .ghosts_fly {
  position: relative;
  width: 100%;
  z-index: 3;
}

.prologue .ghosts_fly img {
  position: absolute;
  width: 200px;
  height: 200px;
  right: -15%;
  bottom: 10%;
  opacity: 0.7;
  -webkit-transition: 0.7ms;
  transition: 0.7ms;
}

.prologue .ghosts_fly img:hover {
  -webkit-filter: invert(24%) sepia(100%) saturate(7446%) hue-rotate(8deg) brightness(98%) contrast(117%);
          filter: invert(24%) sepia(100%) saturate(7446%) hue-rotate(8deg) brightness(98%) contrast(117%);
}

.introduction {
  position: relative;
  height: 100vh;
}

.introduction h2 {
  padding: 100px 30px 30px;
  font-size: 36px;
  color: white;
}

.introduction .card {
  position: absolute;
  top: 60%;
  left: 25%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 300px;
  height: 400px;
  background: #6e0000;
  overflow: hidden;
}

.introduction .card:hover .imgBx {
  top: 0;
  left: -100%;
}

.introduction .card:hover .details {
  top: 0;
  left: 0%;
}

.introduction .card .imgBx,
.introduction .card .details {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.introduction .card .imgBx {
  top: 0;
  left: 0;
}

.introduction .card .imgBx img {
  width: 100%;
}

.introduction .card .details {
  background: #ff0000;
  top: 0;
  left: 100%;
  padding: 60px 30px;
}

.introduction .card .details h2 {
  color: black;
  text-align: center;
  margin: 0;
  padding: 0 0 10px;
  border-bottom: 2px solid black;
}

.introduction .card .details p {
  margin: 20px 0 0;
  color: black;
}

.introduction .card2 {
  position: absolute;
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 300px;
  height: 400px;
  background: #6e0000;
  overflow: hidden;
}

.introduction .card2:hover .imgBx {
  top: 0;
  left: -100%;
}

.introduction .card2:hover .details {
  top: 0;
  left: 0%;
}

.introduction .card2 .imgBx,
.introduction .card2 .details {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.introduction .card2 .imgBx {
  top: 0;
  left: 0;
}

.introduction .card2 .imgBx img {
  width: 100%;
}

.introduction .card2 .details {
  background: #ff0000;
  top: 0;
  left: 100%;
  padding: 60px 30px;
}

.introduction .card2 .details h2 {
  color: black;
  text-align: center;
  margin: 0;
  padding: 0 0 10px;
  border-bottom: 2px solid black;
}

.introduction .card2 .details p {
  margin: 20px 0 0;
  color: black;
}

.introduction .card3 {
  position: absolute;
  top: 60%;
  left: 75%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 300px;
  height: 400px;
  background: #6e0000;
  overflow: hidden;
}

.introduction .card3:hover .imgBx {
  top: 0;
  left: -100%;
}

.introduction .card3:hover .details {
  top: 0;
  left: 0%;
}

.introduction .card3 .imgBx,
.introduction .card3 .details {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.introduction .card3 .imgBx {
  top: 0;
  left: 0;
}

.introduction .card3 .imgBx img {
  width: 100%;
}

.introduction .card3 .details {
  background: #ff0000;
  top: 0;
  left: 100%;
  padding: 60px 30px;
}

.introduction .card3 .details h2 {
  color: black;
  text-align: center;
  margin: 0;
  padding: 0 0 10px;
  border-bottom: 2px solid black;
}

.introduction .card3 .details p {
  margin: 20px 0 0;
  color: black;
}

footer {
  background: rgba(0, 0, 0, 0.9);
  padding: 20px;
  text-align: center;
}

footer .logo {
  height: 150px;
}

footer .logo img {
  height: 150px;
}

footer .logo img:hover {
  -webkit-filter: invert(0%) sepia(0%) saturate(4232%) hue-rotate(41deg) brightness(91%) contrast(103%);
          filter: invert(0%) sepia(0%) saturate(4232%) hue-rotate(41deg) brightness(91%) contrast(103%);
}

footer p {
  text-align: center;
  color: white;
  padding: 10px 0;
}

footer .social {
  text-align: center;
  padding: 5px;
}

footer .social img {
  margin: 5px;
}

footer small {
  text-align: center;
  color: white;
  padding: 10px 0;
}

nav {
  position: fixed;
  left: 10px;
  cursor: pointer;
}

nav a {
  text-decoration: none;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
}

nav .ghost_link {
  position: relative;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  margin-top: 0.5em;
  min-width: 8em;
  padding: 0.5em 1em;
}

nav .ghost_link:hover .mini-link {
  -webkit-transform: scale(1);
          transform: scale(1);
}

nav .mini-link {
  position: absolute;
  top: 0;
  left: 100%;
  margin-top: 0.5em;
  background: rgba(255, 0, 0, 0.5);
  min-width: 8em;
  padding: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform-origin: left;
          transform-origin: left;
}

nav .mini-link li {
  list-style-type: none;
}

nav .mini-link li:hover {
  background: red;
}

nav .mini-link li a {
  text-decoration: none;
  padding: 0.5em 1em;
  display: block;
}

.dropdown-toggle {
  padding: 0.5em 1em;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px 5px 5px 5px;
  border: 1px solid red;
  font-size: 20px;
  font-weight: 900;
}

.dropdown-toggle:hover {
  background: red;
  border: 1px solid rgba(255, 0, 0, 0);
  color: #000;
}

ul.dropdown {
  display: none;
  position: absolute;
  top: 100%;
  margin-top: 10px;
  background: rgba(255, 0, 0, 0.5);
  min-width: 8em;
  padding: 0;
  border-radius: 0 0 0.2em 0.2em;
}

ul.dropdown li {
  list-style-type: none;
}

ul.dropdown li:hover {
  background: red;
}

ul.dropdown li a {
  text-decoration: none;
  padding: 0.5em 1em;
  display: block;
}

.start {
  width: 1280px;
  margin: 50px auto;
}

.start img {
  margin: 0 auto;
  width: 500px;
  display: block;
}

.start article {
  margin-bottom: 50px;
}

.start h2 {
  text-align: center;
  padding: 20px 0;
  font-weight: bold;
  letter-spacing: 5px;
  font-size: 50px;
  color: #fff;
}

@media screen and (max-width: 1024px) {
  .start h2 {
    font-size: 60px;
  }
}

@media screen and (max-width: 767px) {
  .start h2 {
    font-size: 50px;
  }
}

.start p {
  width: 50%;
  margin: 0 auto;
  padding: 5px;
  line-height: 2;
  font-size: 22px;
  color: #fff;
}

@media screen and (max-width: 1024px) {
  .start p {
    width: 70%;
    font-size: 30px;
  }
}

@media screen and (max-width: 767px) {
  .start p {
    font-size: 24px;
  }
}

.text {
  text-align: center;
  color: #fff;
  padding-top: 10px;
  font-size: 70px;
  font-weight: bold;
}

.story {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding-top: 100px;
}

@media screen and (max-width: 1024px) {
  .story {
    width: 100%;
  }
}

.story .box_magic {
  margin-top: 200px;
}

.story .photos {
  margin: 0 auto;
  padding: 0;
  display: block;
  width: 100%;
}

.story .photos img {
  margin: 0 auto;
  width: 500px;
  display: block;
}

.story h4 {
  text-align: center;
  padding: 20px 0;
  font-weight: bold;
  letter-spacing: 5px;
  font-size: 40px;
  color: #fff;
}

@media screen and (max-width: 1024px) {
  .story h4 {
    font-size: 40px;
  }
}

.story p {
  width: 80%;
  margin: 0 auto;
  padding: 5px;
  line-height: 2;
  font-size: 22px;
  color: #fff;
}

@media screen and (max-width: 1024px) {
  .story p {
    width: 100%;
    font-size: 30px;
  }
}

@media screen and (max-width: 767px) {
  .story p {
    font-size: 24px;
    line-height: 2;
  }
}

.story1 {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding-top: 200px;
}

@media screen and (max-width: 1024px) {
  .story1 {
    width: 100%;
  }
}

.story1 .boxing {
  width: 100%;
  margin: 0 auto;
  padding-top: 50px;
}

.story1 .boxing .box_magic {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 60%;
      grid-template-columns: 40% 60%;
  grid-gap: 80px;
  padding-top: 100px;
}

@media screen and (max-width: 1024px) {
  .story1 .boxing .box_magic {
    -ms-grid-columns: none;
        grid-template-columns: none;
    display: block;
  }
}

.story1 .boxing .photos {
  margin: 0 auto;
  padding: 0;
  display: block;
  width: 100%;
}

.story1 .boxing img {
  width: 450px;
  height: 600px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0 100px;
}

@media screen and (max-width: 1024px) {
  .story1 .boxing img {
    margin: 0 290px;
  }
}

@media screen and (max-width: 960px) {
  .story1 .boxing img {
    margin: 0 160px;
  }
}

@media screen and (max-width: 767px) {
  .story1 .boxing img {
    margin: 0 auto;
  }
}

.story1 .boxing .article {
  margin: 0;
  padding-right: 30%;
  display: block;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .story1 .boxing .article {
    margin: 0 auto;
  }
}

.story1 .boxing h4 {
  text-align: center;
  padding: 20px 10px 10px;
  font-size: 32px;
  font-weight: bold;
  color: #fff;
}

@media screen and (max-width: 1024px) {
  .story1 .boxing h4 {
    font-size: 40px;
  }
}

.story1 .boxing p {
  font-size: 20px;
  padding: 10px 0;
  line-height: 2.5;
  color: #fff;
  width: 90%;
}

@media screen and (max-width: 1024px) {
  .story1 .boxing p {
    width: 100%;
    font-size: 30px;
  }
}

@media screen and (max-width: 767px) {
  .story1 .boxing p {
    font-size: 24px;
    line-height: 2;
  }
}

.story1 .boxing .box_magic:nth-child(odd) {
      grid-template-areas: "pic text";
  -ms-grid-columns: 40% 60%;
      grid-template-columns: 40% 60%;
}

@media screen and (max-width: 1024px) {
  .story1 .boxing .box_magic:nth-child(odd) {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    margin: 0 auto;
  }
}

.story1 .boxing .box_magic:nth-child(odd) .photos {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: pic;
}

.story1 .boxing .box_magic:nth-child(odd) article {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: text;
  padding: 0 50px;
}

@media screen and (max-width: 767px) {
  .story1 .boxing .box_magic:nth-child(odd) article {
    padding: 0 30px;
  }
}

.story1 .boxing .box_magic:nth-child(even) {
      grid-template-areas: "text pic";
  -ms-grid-columns: 60% 40%;
      grid-template-columns: 60% 40%;
  margin-right: 15%;
}

@media screen and (max-width: 1024px) {
  .story1 .boxing .box_magic:nth-child(even) {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    margin: 0 auto;
  }
}

.story1 .boxing .box_magic:nth-child(even) .photos {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: pic;
}

.story1 .boxing .box_magic:nth-child(even) article {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: text;
}

@media screen and (max-width: 1024px) {
  .story1 .boxing .box_magic:nth-child(even) article {
    padding: 0 100px;
  }
}

@media screen and (max-width: 767px) {
  .story1 .boxing .box_magic:nth-child(even) article {
    padding: 0 30px;
  }
}

.story1 .boxing .box_magic:nth-child(even) p {
  padding-left: 50px;
}

.link {
  display: block;
  float: left;
  width: 200px;
  height: 280px;
  margin-left: 20px;
  z-index: 5;
}

.link button {
  background: #640000;
  margin-bottom: 20px;
  font-size: 18px;
  padding: 10px 50px;
  color: #fff;
  letter-spacing: 2px;
  font-weight: 900;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  cursor: pointer;
  z-index: 5;
}

.link button:hover {
  background: #dc0000;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.link a {
  text-decoration: none;
  color: #fff;
  letter-spacing: 2px;
  font-weight: 900;
  font-size: 18px;
}

.link a:hover {
  text-decoration: none;
  color: #fff;
}

.prevel {
  width: 800px;
  height: 600px;
  padding: 70px 0 0 600px;
}

#carouselExampleSlidesOnly {
  width: 800px;
  height: 600px;
}

.carousel-inner {
  width: 800px;
  height: 600px;
}

.carousel-inner img {
  width: 800px;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}

.owl-carousel {
  top: 40%;
  left: -100px;
  width: 500px;
  z-index: 4 !important;
}

.owl-carousel .owl-item {
  width: 100%;
}

.owl-carousel .owl-item img {
  width: 350px !important;
}

.Cemetery {
  position: relative;
  width: 100%;
  top: 0;
  z-index: 2;
}

.Cemetery img {
  position: absolute;
  width: 400px;
  height: 300px;
  left: 65%;
  top: -50px;
  -webkit-filter: blur(1px);
          filter: blur(1px);
}

.smog {
  position: relative;
  width: 100%;
  top: 0;
  z-index: 4;
}

.smog img {
  position: absolute;
  width: 400px;
  height: 300px;
  left: 65%;
  top: -50px;
  opacity: 0.75;
  -webkit-filter: blur(1px);
          filter: blur(1px);
}

.halloween_ghost {
  position: relative;
  width: 100%;
  top: 0;
  z-index: 4;
}

.halloween_ghost img {
  position: absolute;
  width: 200px;
  height: 200px;
  left: 67%;
  top: 10px;
  opacity: 0.1;
  -webkit-animation: Ghost 1s 0.4s;
          animation: Ghost 1s 0.4s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.halloween_ghost img:hover {
  opacity: 0.5;
  -webkit-filter: invert(11%) sepia(62%) saturate(7083%) hue-rotate(357deg) brightness(99%) contrast(110%);
          filter: invert(11%) sepia(62%) saturate(7083%) hue-rotate(357deg) brightness(99%) contrast(110%);
}

@-webkit-keyframes Ghost {
  0% {
    -webkit-transform: translateY(300px);
            transform: translateY(300px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes Ghost {
  0% {
    -webkit-transform: translateY(300px);
            transform: translateY(300px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

.inside_ceiling {
  position: relative;
  width: 100%;
  top: 0;
  z-index: 2;
}

.inside_ceiling img {
  position: absolute;
  width: 2450px;
  height: 400px;
  left: -30%;
  top: 5%;
  opacity: 0.75;
}

.ghost_hang {
  position: relative;
  width: 100%;
  top: 270px;
  z-index: 3;
}

.ghost_hang img {
  position: absolute;
  width: 275px;
  height: 400px;
  left: -15%;
  top: 16%;
  opacity: 0.5;
}

.ghost_hang img:hover {
  -webkit-filter: invert(24%) sepia(100%) saturate(1%) hue-rotate(8deg) brightness(98%) contrast(200%);
          filter: invert(24%) sepia(100%) saturate(1%) hue-rotate(8deg) brightness(98%) contrast(200%);
}

.ghostview {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding-top: 200px;
}

@media screen and (max-width: 1024px) {
  .ghostview {
    width: 100%;
  }
}

.ghostview .ghost_boxing {
  width: 100%;
  margin: 0 auto;
  padding-top: 50px;
}

.ghostview .ghost_boxing .ghost_box_magic {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 60%;
      grid-template-columns: 40% 60%;
  grid-gap: 80px;
  padding-top: 100px;
}

@media screen and (max-width: 1024px) {
  .ghostview .ghost_boxing .ghost_box_magic {
    -ms-grid-columns: none;
        grid-template-columns: none;
    display: block;
  }
}

.ghostview .ghost_boxing .ghost_photos {
  margin: 0 auto;
  padding: 0;
  display: block;
  width: 100%;
}

.ghostview .ghost_boxing img {
  width: 450px;
  height: 600px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0 100px;
}

@media screen and (max-width: 1024px) {
  .ghostview .ghost_boxing img {
    margin: 0 290px;
  }
}

@media screen and (max-width: 960px) {
  .ghostview .ghost_boxing img {
    margin: 0 160px;
  }
}

@media screen and (max-width: 767px) {
  .ghostview .ghost_boxing img {
    margin: 0 auto;
  }
}

.ghostview .ghost_boxing .article {
  margin: 0;
  padding-right: 30%;
  display: block;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .ghostview .ghost_boxing .article {
    margin: 0 auto;
  }
}

.ghostview .ghost_boxing h4 {
  text-align: center;
  padding: 20px 10px 10px;
  font-size: 32px;
  font-weight: bold;
  color: #fff;
}

@media screen and (max-width: 1024px) {
  .ghostview .ghost_boxing h4 {
    font-size: 40px;
  }
}

.ghostview .ghost_boxing p {
  font-size: 20px;
  padding: 10px 0;
  line-height: 2.5;
  color: #fff;
  width: 90%;
}

@media screen and (max-width: 1024px) {
  .ghostview .ghost_boxing p {
    width: 100%;
    font-size: 30px;
  }
}

@media screen and (max-width: 767px) {
  .ghostview .ghost_boxing p {
    font-size: 24px;
    line-height: 2;
  }
}

.ghostview .ghost_boxing .ghost_box_magic:nth-child(odd) {
      grid-template-areas: "pic text";
  -ms-grid-columns: 40% 60%;
      grid-template-columns: 40% 60%;
}

@media screen and (max-width: 1024px) {
  .ghostview .ghost_boxing .ghost_box_magic:nth-child(odd) {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    margin: 0 auto;
  }
}

.ghostview .ghost_boxing .ghost_box_magic:nth-child(odd) .photos {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: pic;
}

.ghostview .ghost_boxing .ghost_box_magic:nth-child(odd) article {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: text;
  padding: 0 50px;
}

@media screen and (max-width: 767px) {
  .ghostview .ghost_boxing .ghost_box_magic:nth-child(odd) article {
    padding: 0 30px;
  }
}

.ghostview .ghost_boxing .ghost_box_magic:nth-child(even) {
      grid-template-areas: "text pic";
  -ms-grid-columns: 60% 40%;
      grid-template-columns: 60% 40%;
  margin-right: 15%;
}

@media screen and (max-width: 1024px) {
  .ghostview .ghost_boxing .ghost_box_magic:nth-child(even) {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    margin: 0 auto;
  }
}

.ghostview .ghost_boxing .ghost_box_magic:nth-child(even) .photos {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: pic;
}

.ghostview .ghost_boxing .ghost_box_magic:nth-child(even) article {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: text;
}

@media screen and (max-width: 1024px) {
  .ghostview .ghost_boxing .ghost_box_magic:nth-child(even) article {
    padding: 0 100px;
  }
}

@media screen and (max-width: 767px) {
  .ghostview .ghost_boxing .ghost_box_magic:nth-child(even) article {
    padding: 0 30px;
  }
}

.ghostview .ghost_boxing .ghost_box_magic:nth-child(even) p {
  padding-left: 50px;
}

.zombie {
  width: 800px;
  height: 600px;
  margin: 70px 0 0 380px;
}

.zombie #carouselExampleSlidesOnly {
  width: 100%;
  height: 600px;
}

.zombie #carouselExampleSlidesOnly .carousel-inner {
  width: 100%;
  height: 600px;
}

.zombie #carouselExampleSlidesOnly .carousel-inner img {
  width: 800px;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}

.zombie #carouselExampleSlidesOnly .carousel-control {
  position: relative;
  width: 1000px;
  height: 100%;
}

.zombie #carouselExampleSlidesOnly .carousel-control .carousel-control-prev {
  position: absolute;
  left: -100px !important;
}

.zombie #carouselExampleSlidesOnly .carousel-control .carousel-control-next {
  position: absolute;
  right: -500px !important;
}

.zombie_card {
  width: 800px;
  margin: 0 auto;
  padding-left: 200px;
}

.zombie_card .owl-carousel {
  top: 20% !important;
}

.zombie_card .owl-nav::before :disabled {
  display: none !important;
}

.zombie_card .item_zombie {
  margin: 100px auto;
}

.zombie_card .item_zombie img {
  width: 550px !important;
  height: 550px !important;
  -o-object-fit: cover;
     object-fit: cover;
  /* border-radius: 50%; 寬高要相同(圓形) */
  border-radius: 50%;
  display: block;
  /* 顯示模式：區塊 */
  margin: 0 auto;
  /* 區塊元素 block 才能margin:0 auto; */
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: 2px 10px 14px rgba(0, 0, 0, 0.5);
          box-shadow: 2px 10px 14px rgba(0, 0, 0, 0.5);
}

.zombie_card .item_zombie img:hover {
  border-radius: 20px;
}

.zombie_walk {
  position: relative;
  width: 100vw;
  bottom: 50px;
}

.zombie_walk img {
  position: absolute;
  width: 200px;
  height: 300px;
  right: -15%;
}

.zombie_jump {
  position: relative;
  width: 100vw;
  bottom: 50px;
}

.zombie_jump img {
  position: absolute;
  width: 200px;
  height: 300px;
  left: -15%;
}

.tai_chi {
  width: 1280px;
  margin: 10px auto;
}

.tai_chi img {
  margin: 0 auto;
  width: 500px;
  display: block;
  padding-right: 100px;
}

.tai_chi article {
  margin-bottom: 50px;
}

.tai_chi h2 {
  text-align: center;
  padding: 20px 0;
  font-weight: bold;
  letter-spacing: 5px;
  font-size: 50px;
  color: #fff;
}

@media screen and (max-width: 1024px) {
  .tai_chi h2 {
    font-size: 60px;
  }
}

@media screen and (max-width: 767px) {
  .tai_chi h2 {
    font-size: 50px;
  }
}

.tai_chi p {
  width: 80%;
  margin: 0 auto;
  padding: 5px;
  line-height: 2;
  font-size: 22px;
  color: #fff;
}

@media screen and (max-width: 1024px) {
  .tai_chi p {
    width: 70%;
    font-size: 30px;
  }
}

@media screen and (max-width: 767px) {
  .tai_chi p {
    font-size: 24px;
  }
}

.propertyview {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding-top: 200px;
}

@media screen and (max-width: 1024px) {
  .propertyview {
    width: 100%;
  }
}

.propertyview .property_boxing {
  width: 100%;
  margin: 0 auto;
  padding-top: 50px;
}

.propertyview .property_boxing .property_box_magic {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 60%;
      grid-template-columns: 40% 60%;
  grid-gap: 80px;
  padding-top: 100px;
}

@media screen and (max-width: 1024px) {
  .propertyview .property_boxing .property_box_magic {
    -ms-grid-columns: none;
        grid-template-columns: none;
    display: block;
  }
}

.propertyview .property_boxing .property_photos {
  margin: 0 auto;
  padding: 0;
  display: block;
  width: 100%;
}

.propertyview .property_boxing img {
  width: 450px;
  height: 600px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0 100px 50px;
}

@media screen and (max-width: 1024px) {
  .propertyview .property_boxing img {
    margin: 0 290px;
  }
}

@media screen and (max-width: 960px) {
  .propertyview .property_boxing img {
    margin: 0 160px;
  }
}

@media screen and (max-width: 767px) {
  .propertyview .property_boxing img {
    margin: 0 auto;
  }
}

.propertyview .property_boxing .article {
  margin: 0;
  padding-right: 30%;
  display: block;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .propertyview .property_boxing .article {
    margin: 0 auto;
  }
}

.propertyview .property_boxing h4 {
  text-align: center;
  padding: 20px 10px 10px;
  font-size: 32px;
  font-weight: bold;
  color: #fff;
}

@media screen and (max-width: 1024px) {
  .propertyview .property_boxing h4 {
    font-size: 40px;
  }
}

.propertyview .property_boxing p {
  font-size: 20px;
  padding: 10px 0;
  line-height: 2.5;
  color: #fff;
  width: 85%;
}

@media screen and (max-width: 1024px) {
  .propertyview .property_boxing p {
    width: 100%;
    font-size: 30px;
  }
}

@media screen and (max-width: 767px) {
  .propertyview .property_boxing p {
    font-size: 24px;
    line-height: 2;
  }
}

.propertyview .property_boxing .property_box_magic:nth-child(odd) {
      grid-template-areas: "pic text";
  -ms-grid-columns: 40% 60%;
      grid-template-columns: 40% 60%;
}

@media screen and (max-width: 1024px) {
  .propertyview .property_boxing .property_box_magic:nth-child(odd) {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    margin: 0 auto;
  }
}

.skull_rider {
  position: relative;
  width: 100vw;
  bottom: 50px;
}

.skull_rider img {
  position: absolute;
  width: 300px;
  height: 200px;
  top: 50px;
  right: 50px;
  -webkit-animation: rider 3s 1s;
          animation: rider 3s 1s;
}

@-webkit-keyframes rider {
  0% {
    -webkit-transform: translateX(500px);
            transform: translateX(500px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes rider {
  0% {
    -webkit-transform: translateX(500px);
            transform: translateX(500px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.contactme {
  height: 100%;
  width: 100%;
}

#list {
  padding: 100px 0 0;
}

form {
  width: 1280px;
  margin: 0 auto;
  padding: 20px 0 100px;
}

@media screen and (max-width: 1024px) {
  form {
    width: 100%;
    padding: 20px 20px 100px;
  }
}

form input {
  width: 47%;
  padding: 10px;
}

@media screen and (max-width: 1024px) {
  form input {
    width: 100%;
    margin-bottom: 20px;
  }
}

form input::-webkit-input-placeholder {
  color: #505050;
  font-size: 14px;
}

form input:-ms-input-placeholder {
  color: #505050;
  font-size: 14px;
}

form input::-ms-input-placeholder {
  color: #505050;
  font-size: 14px;
}

form input::placeholder {
  color: #505050;
  font-size: 14px;
}

form input[type="email"] {
  float: right;
}

form input[type="submit"] {
  width: 100%;
}

form textarea {
  width: 100%;
  height: 300px;
  margin: 30px 0;
  padding: 10px;
}

form textarea::-webkit-input-placeholder {
  color: #505050;
  font-size: 14px;
}

form textarea:-ms-input-placeholder {
  color: #505050;
  font-size: 14px;
}

form textarea::-ms-input-placeholder {
  color: #505050;
  font-size: 14px;
}

form textarea::placeholder {
  color: #505050;
  font-size: 14px;
}
/*# sourceMappingURL=style.css.map */