* {
    margin: 0;
    padding: 0;
    font-family: 微軟正黑體;
    box-sizing: border-box;
}

header, section {
    height: 100vh;
    background: #000;
}

header {
    height: 150px;

    .logo {
        height: 150px;
        width: 150px;
        display: block;
        float: left;

        img {
            height: 150px;
            z-index: 1;

            &:hover {
                filter: invert(0%) sepia(0%) saturate(4232%) hue-rotate(41deg) brightness(91%) contrast(103%);
            }
        }
    }

    .menu {
        position: relative;
        height: 150px;
        width: 150px;
        float: right;
        right: 0;
        top: 0;

        img {
            position: absolute;
            right: 50px;
            top: 50px;
        }
    }
}

// 序章

// 頁尾區
footer {
    background: #000;

    .logo {
        height: 150px;

        img {
            height: 150px;
        }
    }
}